<a href="#"><h1 class="site-title"><i class="beaver-logo"></i> OSU Lacrosse</h1></a>

<div class="navbar">
    <a  href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="/schedule"><i class="fa fa-fw fa-calendar"></i> Schedule</a>
    <a href="/roster"><i class="fa fa-fw fa-user"></i> Roster</a>
    <a href="/contact"><i class="fa fa-fw fa-envelope"></i> Get Involved</a>
    

    <div class="media">
        <a href="https://www.instagram.com/oregonstatelacrosse/" target="_blank" class="fa fa-fw fa-instagram icon"></a>
        <a href="https://twitter.com/OSULAX" target="_blank"class="fa fa-fw fa-twitter icon"></a>
        <a href="https://www.facebook.com/osulax/" target="_blank" class="fa fa-fw fa-facebook icon"></a>
    </div>
</div>


