<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        
        <!-- I'd like to make a partial for this to update based on the selected tab(Maddie) --> 
        <title>Oregon State University Lacrosse Club</title>

        <link rel = "icon" href =  "https://img.mcla.us/teams/logos/128/130.png" type = "image/x-icon"> 
    
        <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

        <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/main.css" media="screen">

        <link rel="stylesheet" href="/home.css" media="screen">

        <link rel="stylesheet" href="/roster.css" media="screen">

        <link rel="stylesheet" href="/404.css" media="screen">

        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

        <script src="/home.js" charset="utf-8" defer></script>

    

        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

        <script src="/home.js" charset="utf-8" defer></script>
  </head>

    <body class= "osu-background">

        <header>
            {{> navbar}}
    
            {{#if displayTitle}}
                <div class="page-title">
                    <p>{{pageTitle}}</p>
                </div>
            {{/if}}

        </header>

        {{{body}}}

    </body>

</html>
