<link rel="stylesheet" href="/contact.css" media="screen">

<script src = "/contact.js" charset="utf-8" defer></script>

<!-- Contact Form -->
<!-- Link to a free template to send form information to an email https://www.freecontactform.com/form-guides/html-email-form -->

<div id = "content-container">
  <div id="form-container">
    <div class="modal-dialog">

    <!--  <form id="form-id" class="modal-dialog-class" method="post" action="contact-form-process.php"> -->

        <div class="form-header">
          <h3>Send Us Your Information!</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="form-body">
          <div class="form-input-element">
            <label for="name-text-input">Name: </label>
            <input type="text" id="name-text-input">
          </div>

          <div class="form-input-element">
            <label for="email-text-input">Email: </label>
            <input type="text" id="email-text-input">
          </div>

          <div class="form-input-element">
            <label for="message-text-input">Message: </label>
            <textarea id="message-text-input"></textarea>
          </div>
        </div>

        <div class="form-footer">
          <button type="button" class="submit-button">Submit</button>
        </div>

      <!--</form>-->
        
    </div>
  </div>

<!-- Contact Information: address, phone number, etc -->


  <!-- Coaches' Contact Information: address, phone number, etc -->
  <div id="coaches-container">
    <div class="head-coach">
      <img src="coach.jpeg" alt="Head Coach Picture"/>
      <h4>Chris Miller</h4>
      <p>Head Coach</p>
    </div>

    <div class="assistant-coach">
      <img src="assistant.jpeg" alt="Assistant Coach Picture"/>
      <h4>Nick Widmer</h4>
      <p>Assistant Coach</p>
    </div>

    <div class="grad-assistant-coach">
      <img src="kyle.jpeg" alt="Grad Assistant Coach Picture"/>
      <h4>Kyle Baldes</h4>
      <p>Grad Assistant Coach</p>
    </div>
  </div>
</div>

