<!-- Slideshow container -->



<div class= "main-container">

  <div> </div>
  <div ID="height" class= "info-container">
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img src="images_home\49553614002_9706f3117c_o.jpg" style="width:100%">
    
  </div>

  <div class="mySlides fade">
    <img src="images_home\49553581752_429ccfee18_o.jpg" style="width:100%">
    
  </div>

  <div class="mySlides fade">
    <img src="images_home\J0R3qpz33gRJaWzcZ3eB_1082105479.jpeg" style="width:100%">
    
  </div>

    <div class="mySlides fade">
    <img src="images_home\49553620082_372b4a0e43_o (4).jpg" style="width:100%">
    
  </div>

    <div class="mySlides fade">
    <img src="images_home\49553379306_82d4b4a0a3_o.jpg" style="width:100%">
    
  </div>
</div>
<div ></div>
</div>
<!--
  <div class="column">
    <div class="card">
      <img src="https://img.mcla.us/coaches/2130_2019021662931_7vfs.JPG" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Chris Miller</h2>
        <p class="title">Head Coach</p>
        <p>Some text that describes me.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>
-->
<div class= "twitter">
<a class="twitter-timeline" data-lang="en" data-width="400" data-height="1300" data-theme="light" href="https://twitter.com/OSULAX?ref_src=twsrc%5Etfw">Tweets by OSULAX</a> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>


</div>
