<table class="roster-table">
   <thead>
      <tr> 
            <th> #
            <th> Name
            <th> Year
            <th> Position
            <th> Height
            <th> Weight
            <th> High School
            <th> Hometown
         </th>
      </tr>
   </thead>
   {{#if this.number}}   
      {{> roster_row}}
   {{else}}                  
      {{#each this}}
         {{#if this.number}}
            {{> roster_row}}
         {{/if}}
      {{/each}}
</table>

{{/if}}


