

<link rel = "stylesheet" href="/schedule.css">
<script src = "/calendar.js" charset="utf-8" defer></script>

<div class = "whole-container">
  <iframe src="https://calendar.google.com/calendar/embed?src=llnv8bnrvqpg8bbo5hdqdufhf0%40group.calendar.google.com&ctz=America%2FLos_Angeles"></iframe>
    <div class = "connor-is-making-fun-of-me">
      <input id = "find-team" placeholder="Enter team name..."> </input>
      <button class = "add-calendar-button"> Add game to calendar </button>
    </div>
</div>

