body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    background-image:  url("images_main/49552845803_a5e9d40849_o.jpg");
    background-position: inherit;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #545454;
    background-blend-mode: luminosity;
    background-attachment: scroll;
    min-width: 1340px;
    min-height: 1490px;
    
  }

  .main-container {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    
    /*use to match background*/
    background: linear-gradient(0deg, rgba(255,106,0,0.3393732492997199) 2%, rgba(0,0,0,0.7175245098039216) 24%);
    
    background-size: 120%;
  }

  .osu-background {
    background-color: #545454;
  }

  a {
    text-decoration: none;
  }
  
  .site-title {
    margin: 0;
    padding-top: 10px;
    vertical-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    font-weight: 300;
    background-color: black;
    color: #fff;
  }

.page-title {
  /*height: 40px;*/
  background-color: black;
  color: white;
}

.page-title p {
  text-align: center;
  padding: 12px;
  vertical-align: middle;
  margin: 0px;
  font-size: 50px;
}

header a .beaver-logo {

    content: url(https://img.mcla.us/teams/logos/128/130.png);
    vertical-align: middle;
}
  
 /* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #f47224;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: rgb(0, 0, 0);
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 750px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  .error-container {
    margin-top: 50px;
    text-align: center;
  }
  
  .error-container h2 {
    margin: 10px 0;
    font-size: 96px;
    font-weight: 100;
  }
  
  .error-container h3 {
    margin: 10px 0;
    font-size: 36px;
    font-weight: 400;
  }

  .media{

    display: flex; 
    width: auto;
    justify-content: flex-end;
    padding-right: 10px;

  }

  .fa {
    width: 40px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }


  @media screen and (max-width: 750px) {
    .media {
        display: flex; 
        width: auto;
        justify-content: center;
    }
  }

