.roster-table {
   width: 100%;
   margin: 0;
   max-width: 100%;
   font-family: Roboto, sans-serif;
   color: black;
   background-color: #f4f5f6;
   border: none;
}  

table thead {
   background-color: black;/*rgb(215, 63, 9);*/
   font-color: white;
   width: 100%;
   text-align: center;
}   

th {
   color: white;
}     
